PORT=5000
NODE_ENV=development

DATABASE_URL=postgresql://postgres:postgres@localhost:5432/interviewPrep

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=dev-secret-key

GROQ_API_KEY=your_groq_api_key_here
OPENROUTER_API_KEY=your_openrouter_key_here
GOOGLE_AI_KEY=your_google_ai_key_here

FRONTEND_URL=http://localhost:5173
